{% extends "layout.html" %}
{% block body_content %}
<br>
<br>
<h1>Baby Name Generator</h1>	
<p> Choosing a name for your baby can be quite tricky but not to worry, we are here to help </p>
<p>Click the botton to either <br>Generate random name and gender <br> Generate random name by given gender <br> Generate and filter by given letter</p>
<div class=form>
 <br>
	<form method="POST" action = "">
		{{ form.hidden_tag() }}
        {{form.gender.label}}
        {{form.gender}}
        {{form.alphabet.label}}
        {{form.alphabet}}
        {{form.submit}}
    </form>
</div>
<div>
    <h3> {{name}}</h3>
    <h3> {{bgn}} </h3>
</div>

{% endblock %}
